.ImageKobs{

	margin: 1em auto;
}
.ImgK{

  width: calc(0.5em + 15vw);
  height: calc(0.5em + 15vw);
	margin: auto;
}

@media(width<900px){
	.ImgK{
		width: calc(1em + 15vw);
		height: calc(1em + 15vw);
		margin: auto;
	}
}