.ImageKobs{

	margin: 1em auto;
}
.ImgK{

  width: calc(3em + 10vw);
  height: calc(3em + 10vw);
	margin: auto;
}


@media(width<1400px){
	.ImgK{
		width: calc(7em + 15vw);
		height: calc(7em + 15vw);
		margin: auto;
	}
}
