.Audio{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	justify-content: center;
	margin-top: 1.5rem;
	min-width: 250px;
	box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;

}

.filename{
	font-size: 20px;
	font-family: 'Roboto Mono', monospace;
	margin:auto;
	color: white;
	margin: auto;
}

button{
	background-color: transparent;
	border: transparent;
	cursor: pointer;
}

.paused{
	background: linear-gradient(45deg, rgb(72,25,134) 20%, transparent 100%) no-repeat;
}
.playing{
	background: linear-gradient(45deg, rgb(72,25,134) 20%, transparent 100%) no-repeat;
	animation: colorChange 1s alternate infinite;
}

@keyframes colorChange {
  0% { background-color: rgb(72,25,134)}
	100% { background-color: red; }
}