.AudioList{
	/* justify-content: center; */
	display: flex;
	flex-direction: column;
	/* position: absolute; */
	align-items: center;
	width: inherit;
}

.pause
.play{
	height: 35px;
	width: 35px;
}

.audio{
	margin: 10px;
}