.audioControls {
  display: flex;
  justify-content: space-around;
	grid-area: c;
	margin: 3px;
}

button{
	background-color: transparent;
	border: transparent;
	cursor: pointer;
}
.svgPausePlay{
	width: 13px;
}
.svg path{
	fill: white;
}