
.closeIcon{
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 20;
	cursor: pointer;
}

.LeftBar{
	font-family: 'Roboto Mono', monospace;
	position: fixed;
	opacity: 1;
	top: 0;
	left: 0;
	background-color: rgba(249, 149, 249, 0.809);
	
	border-right: 1 #ffffff;
	height: 100vh;
	width: 25vw;
	z-index: 19;
	transition: all 0.3s;
	overflow-y: auto;
}

.LeftBar::-webkit-scrollbar {
  width: 7px;              
}
.LeftBar::-webkit-scrollbar-track {
  background: rgb(160, 23, 128);      
}

.LeftBar::-webkit-scrollbar-thumb {
  background-color: rgb(68, 68, 161);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 1px solid rgb(195, 195, 15)
}
/* .LeftBar:hover{
	opacity: 1;
	transition: all 0.5s;
	z-index: 12;
} */

@media(width<1200px){
	.LeftBar{
		width: 40vh;
	}
}
@media(width<900px){
	.LeftBar{
		width: 50vw;
	}

}